.w3-row-padding,
.w3-row-padding>.w3-half,
.w3-row-padding>.w3-third,
.w3-row-padding>.w3-twothird,
.w3-row-padding>.w3-threequarter,
.w3-row-padding>.w3-quarter,
.w3-row-padding>.w3-col {
  padding: 0 8px
}

.w3-section {
  margin-top: 16px !important;
  margin-bottom: 16px !important
}

.w3-container:after,
.w3-container:before,
.w3-row-padding:after,
.w3-row-padding:before {
  content: "";
  display: table;
  clear: both
}

.w3-bottombar {
  border-bottom: 6px solid #ccc !important
}

.w3-margin-right {
  margin-right: 16px !important
}

.w3-col,
.w3-half,
.w3-third,
.w3-twothird,
.w3-threequarter,
.w3-quarter {
  float: left;
  width: 100%
}

.w3-col.m4,
.w3-third {
  width: 33.33333%
}


.w3-container {
  padding: 0.01em 16px
}

.w3-margin-bottom {
  margin-bottom: 16px !important
}

.w3-white,
.w3-hover-white:hover {
  color: #000 !important;
  background-color: #fff !important
}

.w3-opacity,
.w3-hover-opacity:hover {
  opacity: 0.60
}

.w3-opacity-off,
.w3-hover-opacity-off:hover {
  opacity: 1
}

/*Adding for overlay text on images*/
.image-container {
  position: relative;
  display: inline-block;
}

.overlay-text {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4px 8px;
  border-radius: 3px;
  font-size: .8rem;
}

.w3-btn,
.w3-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap
}

.w3-btn,
.w3-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.w3-disabled,
.w3-btn:disabled,
.w3-button:disabled {
  cursor: not-allowed;
  opacity: 0.3
}

.w3-dropdown-hover:hover>.w3-button:first-child,
.w3-dropdown-click:hover>.w3-button:first-child {
  background-color: #ccc;
  color: #000
}

.w3-bar-block .w3-dropdown-hover .w3-button,
.w3-bar-block .w3-dropdown-click .w3-button {
  width: 100%;
  text-align: left;
  padding: 8px 16px
}

.w3-bar .w3-button {
  white-space: normal
}

@media (max-width:600px) {

  .w3-dropdown-hover.w3-mobile,
  .w3-dropdown-hover.w3-mobile .w3-btn,
  .w3-dropdown-hover.w3-mobile .w3-button,
  .w3-dropdown-click.w3-mobile,
  .w3-dropdown-click.w3-mobile .w3-btn,
  .w3-dropdown-click.w3-mobile .w3-button {
    width: 100%
  }
}

.w3-button:hover {
  color: #000 !important;
  background-color: #ccc !important
}

.w3-dark-grey,
.w3-hover-dark-grey:hover,
.w3-dark-gray,
.w3-hover-dark-gray:hover {
  color: #fff !important;
  background-color: #616161 !important
}

.w3-padding-large {
  padding: 12px 24px !important
}

.w3-margin-top {
  margin-top: 16px !important
}

.w3-margin-bottom {
  margin-bottom: 16px !important
}