.w3-container:after,
.w3-container:before,
.w3-row-padding:after,
.w3-row-padding:before {
  content: "";
  display: table;
  clear: both
}

.w3-row-padding,
.w3-row-padding>.w3-half,
.w3-row-padding>.w3-third,
.w3-row-padding>.w3-twothird,
.w3-row-padding>.w3-threequarter,
.w3-row-padding>.w3-quarter,
.w3-row-padding>.w3-col {
  padding: 0 8px
}

.w3-col,
.w3-half,
.w3-third,
.w3-twothird,
.w3-threequarter,
.w3-quarter {
  float: left;
  width: 100%
}

.w3-third {
  width: 33.33333%
}

.w3-container {
  padding: 0.01em 16px
}

.w3-padding-32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important
}

.w3-dark-grey,
.w3-hover-dark-grey:hover,
.w3-dark-gray,
.w3-hover-dark-gray:hover {
  color: #fff !important;
  background-color: #616161 !important
}