.w3-sidebar {
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  background-color: #fff;
  position: fixed !important;
  z-index: 1000;
  overflow: auto
}

.w3-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  /* not sure on this z-index */
}

/* Slide-in animation */
.w3-animate-left {
  position: relative;
  animation: animateleft 0.4s;
}

@keyframes animateleft {
  from {
    left: -200px;
    opacity: 0
  }

  to {
    left: 0;
    opacity: 1
  }
}

.w3-animate-left {
  animation: animateleft 0.5s;
}

#main {
  transition: margin-left 0.5s;
  margin-left: 0;
}

.sidebar-open#main {
  margin-left: 300px;
}

@media (max-width: 992px) {
  .sidebar-open#main {
    margin-left: 0;
  }
}

.w3-sidebar a {
  background-color: transparent;
  text-decoration: none
}